{% set children = false %}

{% if menu %}
	{% for item in items %}
		{% if item.children %}
			{% else %}
				{# 1. Спільна конфігурація класів та атрибутів #}
				{% set is_curr = item.current %}
				{% set base_classes = "rounded-md px-3 py-2 text-sm font-medium text-header-link" %}

				{# 2. Визначаємо назву тегу #}
				{% set tag = is_curr ? 'span' : 'a' %}

				{# 3. Вивід з мінімальним дублюванням #}
				<{{tag}} class="{{ base_classes }} {{ not is_curr ? 'hover:bg-header-link/5' : 'cursor-default' }}" {% if is_curr %} aria-current="page" {% else %} href="{{ item.link }}" target="{{ item.target }}" {% endif %}>
					{{ item.title }}
				</{{tag}}>
		{% endif %}
	{% endfor %}

	{#<ul class="menu-list">
				{% for item in items %}
					{% if item.children %}
						<li class="nav-item dropdown {{item.classes  | join(' ') }}">
							{% if item.link %}
								<a class="nav-link dropdown-toggle" target="{{ item.target }}" href="{{ item.link }}">
									{{ item.title }}<span class="nav_mobile-link"></span>
								</a>
							{% else %}
								<span role="button" tabindex="0" class="nav-link dropdown-toggle">
									<span>
										{{ item.title }}
									</span>
									<svg class="desktop__arrow" width="11" height="9" viewbox="0 0 11 9">
										<g transform="rotate(-180 5.5 4.5)"><path fill="#fff" d="M5.546.5l5 8h-10z"/></g>
									</svg>
									<svg class="mobile__arrow" width="12" height="8" viewbox="0 0 12 8" fill="none">
										<path d="M1.41 0.580078L6 5.17008L10.59 0.580078L12 2.00008L6 8.00008L0 2.00008L1.41 0.580078Z" fill="#EEEEEE"/>
									</svg>
								</span>
							{% endif %}
							{% include "parts/components/header-menu.twig" with {'items': item.children} %}
						</li>
					{% else %}
						<li class="{{item.classes | join(' ') }}{{ item.meta('attr_id') and item.meta('attr_id') == 'cart_menu' ? ' cart__menu' : ''}}" {{ item.meta('attr_id') and item.meta('attr_id') != 'cart_menu' ? 'data-id="'~item.meta('attr_id')~'"' : ''}}>
							{% if item.meta('attr_id') %}
								{% if item.meta('attr_id') == 'cart_menu' %}
									<a id="cart__menu" class="nav-link sk-d-none" target="{{ item.target }}" href="{{ item.link ~ '?p=favorites' }}">
										<span class="cart__heart">
											<i class="cart__heart-count">0</i>
											<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveaspectratio="xMidYMid meet" width="40" height="40" viewbox="0 0 40 40" style="width:100%;height:100%">
												<defs>
													<animateTransform id="_RG" repeatcount="1" dur="1s" begin="0s" xlink:href="#_R_G_L_1_G_D_0_P_0_G_0_T_0" fill="freeze" attributename="transform" from="1 1" to="1 1" type="scale" additive="sum" keytimes="0;0.28;0.96;1" values="1 1;1.4000000000000001 1.4000000000000001;1 1;1 1" keysplines="0.333 0 0.116 1;0.597 0 0.298 1;0 0 0 0" calcmode="spline"/>
													<animate id="_GR" repeatcount="infinity" dur="1s" begin="0s" xlink:href="#_R_G_L_0_G_D_0_P_0" fill="freeze" attributename="rx" from="6" to="20" keytimes="0;0.04;0.84;1" values="6;6;20;20" keysplines="0.167 0.167 0.667 1;0.167 0.167 0.667 1;0 0 0 0" calcmode="spline"/>
													<animate id="_GR1" repeatcount="infinity" dur="1s" begin="0s" xlink:href="#_R_G_L_0_G_D_0_P_0" fill="freeze" attributename="ry" from="6" to="20" keytimes="0;0.04;0.84;1" values="6;6;20;20" keysplines="0.167 0.167 0.667 1;0.167 0.167 0.667 1;0 0 0 0" calcmode="spline"/>
													<animate id="_GR2" repeatcount="infinity" dur="1s" begin="0s" xlink:href="#_R_G_L_0_G_D_0_P_0" fill="freeze" attributename="opacity" from="1" to="0" keytimes="0;0.04;0.76;1" values="1;1;0;0" keysplines="0.277 0.217 0.746 0.989;0.277 0.217 0.746 0.989;0 0 0 0" calcmode="spline"/>
													<animate id="_GR3" repeatcount="infinity" dur="1s" begin="0s" xlink:href="#_R_G_L_0_G" fill="freeze" attributename="opacity" from="0" to="0" keytimes="0;0.04;0.040004;0.88;0.88;1" values="0;0;1;1;0;0" keysplines="0 0 0 0;0 0 0 0;0 0 0 0;0 0 0 0;0 0 0 0" calcmode="spline"/>
													<animate attributetype="XML" attributename="opacity" dur="1s" from="0" to="1" xlink:href="#time_group"/>
												</defs>
												<g id="_R_G">
													<g id="_R_G_L_1_G" transform=" translate(20, 20) translate(-12, -12)">
														<g id="_R_G_L_1_G_D_0_P_0_G_0_T_0" transform=" translate(12, 11.825)">
															<path id="_R_G_L_1_G_D_0_P_0" fill="#ff4242" fill-opacity="1" fill-rule="nonzero" d=" M0 9.18 C0,9.18 -1.45,7.88 -1.45,7.88 C-3.13,6.36 -4.53,5.05 -5.62,3.95 C-6.72,2.85 -7.6,1.86 -8.25,0.99 C-8.9,0.11 -9.35,-0.69 -9.61,-1.42 C-9.87,-2.16 -10,-2.91 -10,-3.67 C-10,-5.24 -9.48,-6.55 -8.43,-7.6 C-7.38,-8.65 -6.07,-9.18 -4.5,-9.18 C-3.63,-9.18 -2.81,-8.99 -2.02,-8.62 C-1.24,-8.26 -0.57,-7.74 0,-7.07 C0.57,-7.74 1.24,-8.26 2.03,-8.62 C2.81,-8.99 3.63,-9.18 4.5,-9.18 C6.07,-9.18 7.38,-8.65 8.43,-7.6 C9.48,-6.55 10,-5.24 10,-3.67 C10,-2.91 9.87,-2.16 9.61,-1.42 C9.35,-0.69 8.9,0.11 8.25,0.99 C7.6,1.86 6.73,2.85 5.63,3.95 C4.53,5.05 3.13,6.36 1.45,7.88 C1.45,7.88 0,9.18 0,9.18z "/></g>
													</g>
													<g id="_R_G_L_0_G_M">
														<g id="_R_G_L_0_G" transform=" translate(20, 20) translate(0, 0)">
															<g id="_R_G_L_0_G_D_0_P_0_G_0_T_0"><ellipse id="_R_G_L_0_G_D_0_P_0" fill="#ff4242" fill-opacity="1" fill-rule="nonzero" cx="0" cy="0"/></g>
														</g>
													</g>
												</g>
												<g id="time_group"/></svg>
										</span>
										{% set size = (item.title)|length > 15 ?
										'style="font-size: 14px;"' : '' %}
										<span {{ size }}>{{ item.title }}</span>
									</a>
								{% else %}
									{% if item.link %}
										<a class="nav-link" target="{{ item.target }}" href="{{ item.link }}">
											<span>{{ item.title }}</span>
											<svg class="desktop__arrow" width="11" height="9" viewbox="0 0 11 9">
												<g transform="rotate(-180 5.5 4.5)"><path fill="#fff" d="M5.546.5l5 8h-10z"/></g>
											</svg>
											<svg class="mobile__arrow" width="12" height="8" viewbox="0 0 12 8" fill="none">
												<path d="M1.41 0.580078L6 5.17008L10.59 0.580078L12 2.00008L6 8.00008L0 2.00008L1.41 0.580078Z" fill="#EEEEEE"/>
											</svg>
										</a>
									{% else %}
										<span role="button" tabindex="0" class="nav-link dropdown-toggle">
											<span>
												{{ item.title }}
											</span>
											<svg class="desktop__arrow" width="11" height="9" viewbox="0 0 11 9">
												<g transform="rotate(-180 5.5 4.5)"><path fill="#fff" d="M5.546.5l5 8h-10z"/></g>
											</svg>
											<svg class="mobile__arrow" width="12" height="8" viewbox="0 0 12 8" fill="none">
												<path d="M1.41 0.580078L6 5.17008L10.59 0.580078L12 2.00008L6 8.00008L0 2.00008L1.41 0.580078Z" fill="#EEEEEE"/>
											</svg>
										</span>
									{% endif %}
								{% endif %}
								{% if item.meta('attr_id') == 'search_voices' %}
									{% include "parts/components/search-voices.twig" %}
								{% endif %}
								{% if item.meta('attr_id') == 'audio_production' %}
									{% include "parts/components/audio-production.twig" %}
								{% endif %}
							{% else %}
								<a class="nav-link" target="{{ item.target }}" href="{{ item.link }}">
									{{ item.title }}
								</a>
							{% endif %}
						</li>
					{% endif %}
				{% endfor %}
			</ul>#}
{% endif %}
